<%= content_tag :h1, t('views.claim.index.head') %>
<div id="description">
  Описание сервиса
</div>

<div>
  <% form_for :claim, :url => claims_path, :id => "new_claim" do |form| -%>
  <div>
    <%= content_tag :em, t('views.claim.index.change') %>:
    <%= collection_select(:claim, :currency_source_id, Currency.all, :id, :name ) %>
    <%= content_tag :em, t('views.claim.index.on_change') %>:      
    <%= collection_select(:claim, :currency_receiver_id, Currency.all, :id, :name) %>
    <%= content_tag :em, t('views.claim.index.summa') %>:            
    <%= form.text_field :summa, :size => 12  %>
  </div>
  <%= submit_tag t('views.claim.index.submit') %>
  <% end -%>
</div>



<% content_for :js do -%>
<script type="text/javascript" charset="utf-8">
  $(function(){
    $("#claim_currency_source_id").change(function(){
        $("#claim_currency_receiver_id").
         load("<%= path_ways_path(:currency => :id, :format => :js) %>".replace("id", $(this).val() ))
      });
  
  });
</script>
<% end -%>
