<% content_for :sidebar do -%>
<div id="sidebar"><h2>Действия</h2>
  <ul>
    <li><%= link_to "Добавить запись", new_admin_system_setting_path %></li>
    <li><%= link_to "Назад к списку", admin_system_settings_path %></li>
  </ul>
</div>
<% end -%>
<div id="content">
<% semantic_form_for [:admin, @system_setting]  do |form| %>

<% form.inputs do -%>
<% if @system_setting.new_record? -%>
<%= form.input :code %>
<% else -%>
<em>Код</em> <%= @system_setting.code %>
<% end -%>

<%= form.input :name %>
<% end -%>
<% form.inputs  :id => "settings_block" do -%>
<%= link_to "Добавит параметр", "", :id => "add_parameter"  %>
<% @system_setting.setting && @system_setting.setting.each do |k,v| -%>
  <li id="system_setting_setting_<%= k -%>_input" class="text required">
    <label for="system_setting_setting_<%= k -%>"><%= k %><abbr title="required">*</abbr></label>
    <%= text_field_tag "system_setting[setting[#{k}]]", v, :size => 40 %>
    <%= link_to "Удалить", "", :class => "remove_param" %>
  </li>
   
  <% end -%>
<% end -%>
<% form.buttons do -%>
<%= form.commit_button "Сохранить" %>
<% end -%>
<% end -%>
</div>
<script type="text/javascript" charset="utf-8">
  $(function(){
  
  $(".remove_param").live("click",function(){
    $(this).parents("li:first").remove();return false;
   });
  
  $("#add_parameter").click(function(){
   var new_param = prompt("Имя нового праметра","");
       new_param = $.trim(new_param);
     if (new_param)
      {
       if (!!new_param.match(/ /) ) {
           alert("Не используйте пробелы");
           } else if ($("#system_setting_setting_"+new_param).length == 0){
  
          var param_label = "<label for='system_setting_setting_"+new_param+"'>"
                             + new_param+"<abbr title='required'>*</abbr></label>";
          var param_input = "<input id='system_setting_setting_"+new_param
                             + "' type='text'  size='40' name='system_setting[setting["+new_param+"]]'/>";
  
          $("#settings_block>ol:first").append(
           $("<li id='system_setting_setting_"+new_param+"_input'class='text required'></li>")
                 .append(param_label).append(param_input)
                 .append($("<a href='' class='remove_param'>Удалить</a>")));
         } else {
             alert("Такой параметр уже есть");
         };
       
       };
     return false;
  });
  });
</script>
