<% semantic_form_for [:gateway, @claim], :url => confirmed_gateway_webmoney_path, :method => :post do |form| %>
<div class="data_claim">
  <%= content_tag :h4, t('views.confirmed_head') %>
  <div><%= render :partial => '/gateway/shared/confirmed', :object => @claim %></div>
  <hr />
  <div>
      <%= content_tag :em, t('views.webmoney.confirmed.your_purse') %>:
      <%= @claim.option_purse[:purse_dest] %></div>
  <hr />
</div>

<div class="terms">
  <h3>ТЕКСТ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ</h3>
</div>

  <% form.inputs  do -%>
    <%= form.input :agree, :as => :boolean %>
  <% end -%>
  <% form.buttons do -%>
    <%= form.commit_button t('views.confirmed_submit') %>
    <%= link_to t('views.confirmed_edit'), gateway_webmoney_path %>    
  <% end -%>
<% end -%>
