<div class="payment_content">
  <div>
    <%= content_tag :h4, t('views.head') %>
    <%= render :partial => 'gateway/shared/info', :object => @claim %>      
  </div>
  <%= content_tag :h3, t('views.to_send_money') %>
  <% semantic_form_for [:gateway, @claim], :url => gateway_webmoney_path, :method => :put  do |form| %>
  <% form.inputs  do -%>
  <%= form.input :email %>
  <%= form.input :summa %>
  <li id="claim_option_purse_purse_dest_input" class="numeric required">
    <label for="claim_option_purse_purse_dest">
      Ваш кошелек <abbr title="required">*</abbr>
    </label>
    
    <%= text_field_tag "claim[option_purse[purse_dest]]",(@claim.option_purse[:purse_dest] unless @claim.option_purse.blank?)  %>
    <%= content_tag(:p, @valid_webmoney.errors[:purse_dest],
        :class => "inline-errors") if @valid_webmoney && !@valid_webmoney.errors[:purse_dest].blank?%>
  </li>
  <%= form.input :comment, :input_html => {:rows => 5 }  %>
  <% end -%>
  <% form.buttons do -%>
  <%= form.commit_button t('views.submit_continue') %>
  <% end -%>
  <% end %>
</div>
