<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Универсальный обмен интернет валют</title>
  <%= stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes', :cache => true %>
</head>
<body>
  <%= display_flash_message %>
  <div id="main">
    <%= yield %>
  </div>
  
  <%= javascript_include_tag "jquery", :cache => true %>
  <%= yield :js %>
  
</body>
</html>
